<h1 mat-dialog-title>Add row</h1>
<div mat-dialog-content>
  <mat-form-field>
    
    <input matInput placeholder="Account Name" [(ngModel)]="data.AcctName">
    
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Account Number" [(ngModel)]="data.AcctNum">
    
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Custodian Account" [(ngModel)]="data.CstAcct">
  </mat-form-field>
</div>
<div>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>